API_KEY=***
API_ENDPOINT=https://lucascranach.org/data-proxy/json-data.php
API_METADATA_EXIF_ENDPOINT=https://lucascranach.org/data-proxy/metadata-exif.php
API_IMAGE_DOWNLOAD_ENDPOINT=https://lucascranach.org/data-proxy/image-download.php
CACHE_FOLDER=.cache
API_KEY=***